.background {

    display: grid;
    place-items: center;
    background:#F8F8F8;
    padding-bottom: 12em;

}

.method h4 {
    font-weight: bold;
    font-size: 1.6em;
    padding: 0.5em;
}

.user {
    margin: 1em 0em 0 1em;
    color: black;
    text-decoration: underline;
}

.method {

    margin-top: 2em;
    border-radius: 1em;
    background: #e3f6f5;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    box-shadow: 0 0 0.1em 0 rgba(0, 0, 0, 0.5);

}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.delete,.edit{
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.edit {
    color: #fff;
    background-color: #007bff;
    border: none;
}

.edit:hover {
    background-color: #0056b3;
}

.edit:active {
    transform: scale(0.95);
    background-color: #004085;
}

.delete {
    color: #fff;
    background-color: #dc3545;
    border: none;
    
}

.delete:hover {
    background-color: #c82333;
}

.delete:active {
    transform: scale(0.95);
    background-color: #bd2130;
}

.method p {
    font-size: 1.4em;
}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.addComment {
    padding: 1em 1.5em;
    margin-top: 1em;
    border-radius: 2em;
    font-size: 1.2em;
    cursor: pointer;

}

.addComment {
    color: #fff;
    border: none;
    margin-top: 1em;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #e88e07, #f71303);
    transition: all 0.3s ease;
}

.addComment:active {
    transform: scale(0.95);
}