.background {

    display: grid;
    place-items: center;
    background:#F8F8F8;
    padding-bottom: 12em;

}

.method h4 {
    font-weight: bold;
    font-size: 1.6em;
    padding: 0.5em;
}

.user {
    margin: 1em 0em 0 1em;
    color: black;
    text-decoration: underline;
}

.method {

    margin-top: 2em;
    border-radius: 1em;
    background: #e3f6f5;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    box-shadow: 0 0 0.1em 0 rgba(0, 0, 0, 0.5);

}

.delete {
    justify-content: center;
    align-self: center;
    padding: 0.5em 1em;
    border-radius: 2em;
    background-color: #f71303;
    color: #fff;
    margin-bottom: 1em;
}

.method p {
    font-size: 1.4em;
}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.addComment {
    padding: 1em 1.5em;
    margin-top: 1em;
    border-radius: 2em;
    font-size: 1.2em;
    cursor: pointer;

}

.addComment {
    color: #fff;
    border: none;
    margin-top: 1em;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #e88e07, #f71303);
    transition: all 0.3s ease;
}

.addComment:active {
    transform: scale(0.95);
}