.background {
    background-image: url('./backgroundVideos.jpg');
    background-size: cover;
    

}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    
    
}

.addVideo {
    padding: 1em 1.5em;
    margin-top: 1em;
    border-radius: 2em;
    font-size: 1.2em;
    cursor: pointer;
    
}

.addVideo {
    color: #fff;
    border: none;
    margin-top: 1em;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #e88e07, #f71303);
    transition: all 0.3s ease;
}

.addVideo:active {
    transform: scale(0.95);
}


.video {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
    
}

.video h3 {
    position: absolute;
    font-size: 1.2em;
    background: #82acff;
    display: block;
    top: 0;
    border-radius: 2em;
    padding: 0.2em;
}

.video .reactPlayer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    overflow: hidden;
    
}